body {
  margin: 0;
  padding: 0;
}
.app-cls {
  margin: 0;
  padding: 0;
  font-family: FavoritStd, sans-serif;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 120px;
}
.items_cls {
  padding: 10px;
  cursor: pointer;
  width: 175px;
  height: 150px;
  display: grid;
  border: solid 1px #eee;
  margin-bottom: 15px;
  background-color: #fafafa;
  transition: transform 450ms;
  border-radius: 5px;
}

.items_img {
  width: 50px;
  margin-right: 10px;
  height: 50px;
}
.items_cls:hover {
  transform: scale(1.08);
  opacity: 1;
}
.title-cls {
  font-size: 1rem;
}
.btn-img {
  border: 0 !important;
  background-color: transparent;
}
.h-img {
  height: 100px;
}
.head-section {
  text-align: center;
  padding-top: 100px;
}
.head-section h4,
.head-section h3 {
  font-size: 1.125rem;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -6px 0 0 -6px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #868e96;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px !important;
  }
}

